# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Jupyter Notebooks
.ipynb_checkpoints

# Project Specific
data/raw/*.txt
data/raw/*.csv
# Se vuoi caricare solo i clean, scommenta sopra. 
# Di solito i dati HMD non si caricano per policy, si caricano gli script per ottenerli.

# OS
.DS_Store
Thumbs.db

# Plots/Reports
reports/figures/*.png